
@model BeerModel
@using (Html.BeginForm("InsertBeerToDataBase", "Home", "post"))
{
    <input asp-for="id" type="hidden" value="@Model.id" />


    <div>
        <input asp-for="Image" type="hidden" value="@Model.Image"/>
        <input type="file" name="Image" class="form-control" accept=".png,.jpg,.jpeg" />
    </div>
    



    <label asp-for="Name" class="control-label">Beer Name</label>
    <input type="text" name="Name" class="form-control" value="@Model.Name"/>



    <label asp-for="BreweryName" class="control-label">Brewery Name</label>
    <input type="text" name="BreweryName" class="form-control" value="@Model.BreweryName"/>



    <label asp-for="Description" class="control-label">Description</label>
    <input type="text" name="Description" class="form-control" value="@Model.Description"/>
    <div class="submit">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
    
}
