@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<BeerModel>
 
 <table class="table">
     <tr>
         <th>Image</th>
         <th>ImageName</th>
         <th>BeerName</th>
         <th>BreweryName</th>
         <th>Description</th>
     </tr>
 </table>
@foreach (var beer in Model)
{
    <tr>
        <td>@beer.ImageData</td>
        <td>@beer.ImageName</td>
        <td>@beer.BeerName</td>
        <td>@beer.BreweryName
        <td>@beer.Description</td>
    </tr>
}